@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  /* color: #e8e8e890; */
  /* background: #060e1e; */
}

.App {
  display: flex;
  /* border: 1px solid; */
}

nav {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

nav h1 {
  margin-bottom: 16px;
}

nav ul {
  /* border: 1px solid; */
  padding: 0 16px;
  /* height: 100%; */
  margin-bottom: 32px;
}

nav ul li {
  width: 200;
  height: 32px;
  border-radius: 5px;
  /* background: rebeccapurple; */
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  transition: ease-in-out 200ms;
}

nav ul li:hover {
  background: rebeccapurple;
  cursor: pointer;
}

nav div {
  height: 100%;
  /* border: 1px solid; */
  display: flex;
  align-items: flex-end;
}

nav div button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 16px;
  /* border: 1px solid; */
  width: calc(100% - 250px);
}

main .main-1div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
}

main .main-1div div {
  /* height: 70px; */
  width: 200px;
  display: flex;
  padding: 10px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* border: 1px solid; */
  border-radius: 5px;
  background: rgba(0, 255, 238, 0.51);
}
